# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Temporary extraction files & WordPress database dumps
app/
conf/
*.dump.html
*_dump.html
elementor_*.html
extract*.*
extracted_products.txt
local-site.json
